<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find match page</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/js.js" defer></script>

</head>

<body>
    <div class="grid_container">
        <div class= "nav"> <nav>
                <ul class="nav-list">
                    <li style="display:inline;" class="list-item">
                        <a href="sign_in.html">SignIn</a>
                    </li>
                    <li  style="display:inline;" class="list-item">
                            <a href="sign_up.html">SignUp</a>
                    </li>
                     <li  style="display:inline;" class="list-item">
                            <a href="Search.html">Search</a>
                    </li>
                    <li  style="display:inline;" class="list-item">
                            <a href="result.html">Result</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="HEADER">
            <h1 id="main_header"> Welcome to VolunteerMatch </h1>
          <h2 class="header2"> The goal of this website is to find for each volunteer the best volunteering place - <br>
               that suits best based on the user geographic location and the desired field of volunteering. </h2>
        </div>

        <div class="MAIN">
             <img src="../static/background.jpg" alt="hart" style="margin-top: 70px; max-width: 100%;">
        <p/>

        </div>
     </div>

    </body>
</html>